@import "tailwindcss";

/* Déclaration du plugin DaisyUI avec configuration */
@plugin "daisyui" {
  themes: false;
}

/* Déclaration de ton thème personnalisé */
@plugin "daisyui/theme" {
  name: "freelStudent";
  --color-primary: #4F46E5;
  --color-secondary: #F97316;
  --color-accent: #22C55E;
  --color-neutral: #EAF2FF;
  --color-base-100: #FFFFFF;
  --color-base-200: #F3F4F6;
  --color-base-content: #1F2937;
  --color-info: #3B82F6;
  --color-success: #22C55E;
  --color-warning: #FBBF24;
  --color-error: #EF4444;
}
